<!DOCTYPE html>
<html>
  <head>
    <title>Genesis 16 Feedback</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <!-- Cache control -->
    <meta name="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="container-fluid" id="contId">
          <h2>Thank you for your valuable feedback</h2>
          <p>Click <a href="/">here</a> to submit another feedback</p>
      </div>
  </body>
</html>
